/*============================
スタイル定義
=============================*/

/* aタグのボタン感を強めるスタイル */
a > img:hover {
	opacity: 0.8;
}


/*============================

見出し

=============================*/

h4 , h5

/*============================

pc 

=============================*/

h1.top-ttl {
    background: #03a9f4;
    color: #fff;
    border-left: 5px solid #03a9f4;
    padding: 25px 20px;
    font-size: 40px;
}

.top-ttl h1 {
    background: #03a9f4;
    color: #fff;
    border-left: 5px solid #03a9f4;
    padding: 25px 20px;
    font-size: 40px;
}


.entry-header h1 {
	background: #03a9f4;
    color: #fff;
    border-left: 5px solid #03a9f4;
    padding: 25px 20px;
    font-size: 40px;
}

.entry-title loaded h1 {
    color: #222222;
}

h2 {
    background: #d3edfb;
    color: #222222;
    border-left: 5px solid #03a9f4;
    padding: 15px;
    font-size: 20px;
    margin: 20px 0px 20px 0px;
}

h3 {
    margin: 30px 0 20px;
    font-size: 18px;
    padding-bottom: 10px;
    border-bottom: solid 2px #20aee5;
    color: #000;
}

h4 {
    background: #f0f0f0;
    color: #222222;
    border-left: 5px solid #03a9f4;
    padding: 25px 25px;
    font-size: 30px;
    line-height: 1.2;
}

.bnr_01 :hover {
	opacity:0.6;
	transition:0.6s;
}

.bnr_02 :hover {
	opacity:0.6;
	transition:0.6s;
}

.bnr_03 :hover {
	opacity:0.6;
	transition:0.6s;
}

.bnr_04 :hover {
	opacity:0.6;
	transition:0.6s;
}

.bnr_05 :hover {
	opacity:0.6;
	transition:0.6s;
}

.bnr_06 :hover {
	opacity:0.6;
	transition:0.6s;
}

.bnr_07 :hover {
	opacity:0.6;
	transition:0.6s;
}

.bnr_08 :hover {
	opacity:0.6;
	transition:0.6s;
}

.bnr_09 :hover {
	opacity:0.6;
	transition:0.6s;
}

.bnr_10 :hover {
	opacity:0.6;
	transition:0.6s;
}

#text-pc p {
    font-size: 16px;
    line-height: 2.0;
    color: #222222;
}

#bnr_container .bnr_01 {
	float: left;
    margin-right: 20px;
}

#bnr_container .bnr_02 {
	float: left;
	margin-bottom: 20px;
}

#bnr_container .bnr_03 {
	float: left;
    margin-right: 20px;
}

#bnr_container .bnr_04 {
	float: left;
	margin-bottom: 20px;
}

#bnr_container .bnr_05 {
	float: left;
    margin-right: 20px;
}

#bnr_container .bnr_06 {
	float: left;
	margin-bottom: 20px;
}

#bnr_container .bnr_07 {
	float: left;
    margin-right: 20px;
}

#bnr_container .bnr_08 {
	float: left;
	margin-bottom: 20px;
}

#bnr_container .bnr_09 {
	float: left;
    margin-right: 20px;
}

#bnr_container .bnr_11 {
	float: left;
    margin-right: 20px;
}

.bnr_link :hover {
	opacity:0.6;
	transition:0.6s;
}

.square_btn {
    display: inline-block;
    padding: 10px 200px;
    order-radius: 0px;
    text-decoration: none;
    color: #FFF;
    background-image: -webkit-linear-gradient(45deg, #39b071 0%, #ff8b5f 100%);
    background-image: linear-gradient(45deg, #39A275 0%, #2bc473 100%);
    font-size: 20px;
　　transition:7s;
}

.square_btn:hover {
    background-image: -webkit-linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
    background-image: linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
}

/*============================

PCとスマホで違う画像や
違うtableを利用するときに利用

=============================*/

@media screen and (min-width: 641px) { //PCオンリー
	.pc { display: block !important; }
	.sp { display: none !important; }
	.pc-table { display: table !important; }
	.sp-table { display: none !important; }

}

@media screen and (max-width: 640px) {//SPオンリー
	.sp { display: block !important; }
	.pc { display: none !important; }
	.pc-table { display: none !important; }
	.sp-table { display: table !important; }
}
