/*============================

トップページ coming soon
リリース時には該当箇所を消す

=============================*/

#eye-catch {
	position: relative;
}

/*#eye-catch .coming-soon {
	font-size: 45px;
    font-weight: bold;
    position: absolute;
    text-align: center;
    right: 0;
    top: 10%;
    bottom: 0;
    left: 0;
    color: #000000;
    z-index: 100;
    text-shadow: 5px 5px 1px #999999;
}

.home #eye-catch .coming-soon {
    font-size: 65px;
	top: 25%;
}

#eye-catch h1>img {
		/* opacity: 0.5; */
}

#eye-catch>a>img.order-button {
	opacity: 0.5;
}*/

@media screen and (max-width: 640px) {
	#eye-catch .coming-soon {
  		top: 10%;
		font-size: 30px;
	}

	.home #eye-catch .coming-soon {
    	font-size: 40px;
	    top: 15%;
	}
}

/*====================

トップページ

====================*/

.home .message-box {
    display: flex;
    flex-wrap: wrap;
    background-color: #f0f0f0;
    justify-content: center;
    align-items: center;
}

.home .message-box > div {
    padding: 10px;
    font-size: 12px;
}

.home .message-box h3 {
    color: #222222;
    font-size: 18px;
    border: none;
    margin: 0;
    background: none;
    padding: 0;
    margin-bottom: 10px;
}



/*====================

データ入稿注文ページ

====================*/

p.title {
	font-size: 36px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
	margin-bottom: 10px;
}

p.title + .circle {
	width: 20px;
    height: 20px;
    display: block;
    border-radius: 50%;
    color: #fff;
    background-color: #507fc4;
    font-size: 32px;
    border: solid;
    margin-bottom: 20px;
    margin: 20px auto;
}

.order-step-area {
	background-color: #20aee5;
	padding: 20px 20px 50px;
    margin: 20px 0 0;
}

.step-area {
	background-color: #fff;
	border-radius: 10px;
	padding: 15px;
	margin-bottom: 20px;
	position: relative;
}

.step-area::before {
	content: "";
    top: -20px;
    left: 50%;
    height: 20px;
    position: absolute;
    border: solid 2px;
	margin-left: -2px;
    color: #fff;
}

.step-area:last-child::after {
	content: "";
    bottom: -20px;
    left: 50%;
    height: 20px;
    position: absolute;
    border: solid 2px;
	margin-left: -2px;
    color: #fff;
}

.step-area .circle {
    padding: 0;
    width: 80px;
    height: 80px;
    line-height: 75px;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    color: #fff;
    background-color: #ff0000;
    font-size: 22px;
    margin-bottom: 20px;
    margin-top: -30px;
    border: solid;
	z-index: 300;
}

.step-area .step-title-area {
	display: flex;
	align-items: center;
}

.step-title-area h2 {
    font-size: 24px;
    margin-top: -20px;
    margin-left: 10px;
    color: #507fc4;
    font-weight: bold;
    background: none;
    border-left: none;
    padding: 0px;
	z-index: 300;
}

.step-title-area h2.h2-br {
    margin-top: 0;

}

.order-step-area + .circle {
　　　　　　　　padding: 0;
    width: 150px;
    height: 150px;
    text-align: center;
    display: block;
    border-radius: 50%;
    color: #fff;
    background-color: #ff0000;
    font-size: 21px;
    border: solid;
    padding-top: 15px;
    margin: -50px auto 30px auto;
    font-weight: bold;
}

.order-step-area + .circle::after {
    content: "\f0d7";
    font-family: FontAwesome;
    color: #fff;
}

.step-area img {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: auto;
    border-radius: 10px;
}

.step-area p {
	font-size: 16px;
	width: 60%;
    z-index: 400;
    display: block;
    position: relative;
    text-shadow: #ffffff 1px 1px 0px, white -1px 1px 0px, white 1px -1px 0px, white -1px -1px 0px;
}

@media screen and (max-width: 640px) {
	.order-step-area {
	    padding: 20px 40px 50px;
    	margin: auto -50px;
	}

	p.title {
		font-size: 18px;
	}

	.step-title-area h2 {
		font-size: 20px;
	}

	.step-area p {
		font-size: 12px;
		width: 60%;
	}
	.step-area .circle {
    	width: 80px;
    	height: 80px;
    	line-height: 80px;
    	font-size: 28px;
	}
}


/*============================

入稿アップロード画面

============================*/

a.wpf-umf-view-cart-button.button,
a#browse-1 {
	background-color: #20aee5;
	color: #fff;
    text-align: center;
    margin: 10px auto;
    padding: 15px;
	border-radius: 4px;
	font-size: 0;
}

a#browse-1:before {
	font-family: FontAwesome;
    content: "\f093";
    font-size: 20px;
    margin-right: 10px;
}

a#browse-1:after {
    content: "入稿データをアップロードする";
    font-size: 15px;
}

a.wpf-umf-view-cart-button.button {
    background-color: #ee4141;
	margin-left: 1.618em;
	font-size: 15px;
}

@media screen and (max-width: 640px) {
	a.wpf-umf-view-cart-button.button,
	a#browse-1 {
		width: 100%;
	}

	a.wpf-umf-view-cart-button.button {
		margin-left: 0;
		font-size: 20px;
	}
}


/*============================

カート

============================*/

.woocommerce-checkout .wpf-umf-cart-upload-button.button,
.woocommerce-cart .wpf-umf-cart-upload-button.button,
.checkout-button.button.alt.wc-forward
 {
	background-color: #20aee5;
	color: #fff;
    width: 100%;
    text-align: center;
    margin: 10px auto;
    padding: 15px;
	border-radius: 4px;
	font-size: 0;
}

.woocommerce-checkout .wpf-umf-cart-upload-button.button,
.woocommerce-cart .wpf-umf-cart-upload-button.button {
	width: 150%;
}

.checkout-button.button.alt.wc-forward,
input#place_order {
	background-color: #ee4141;
	border-radius: 4px;

}
a.checkout-button.button.alt.wc-forward:before {
	content: "お支払手続きへ進む";
    font-size: 24px;
    font-weight: bold;
}

.woocommerce-checkout .wpf-umf-cart-upload-button.button:before,
.woocommerce-cart .wpf-umf-cart-upload-button.button:before
 {
	font-family: FontAwesome;
    content: "\f093";
    font-size: 20px;
    margin-right: 10px;
}

.woocommerce-checkout .wpf-umf-cart-upload-button.button:after,
.woocommerce-cart .wpf-umf-cart-upload-button.button:after
 {
    content: "入稿データをアップロードする";
    font-size: 15px;
}

@media screen and (max-width: 640px) {
	.woocommerce-checkout .wpf-umf-cart-upload-button.button,
	.woocommerce-cart .wpf-umf-cart-upload-button.button,
	.checkout-button.button.alt.wc-forward {
		width: 100%;
	}
}



/*============================

FAQ

============================*/

.q-txt {
	font-size: 20px;
    font-weight: bold;
    color: #03a9f4;
}

.q_icon {
	float:left;
    padding-right: 10px;
}

.a-txt {
	font-size: 18px;
    color: #222222;
}

.a_icon {
	float:left;
    padding-right: 10px;
}

#border01 {
	border: 1px solid #f0f0f0;
	margin:50px 0;
}

#submit_btn {
    border: 1px solid #15aeec;
    background-color: #49c0f0;
    background-image: -webkit-linear-gradient(top, #49c0f0, #2cafe3);
    border-radius: 10px;
    color: #fff;
    -webkit-transition: none;
    width: 300px;
    font-size: 26px;
}



.contact_btn_B {
    position: relative;
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    color: #FFF;
    background: #fd9535;
    border-bottom: solid 2px #d27d00;
    border-radius: 6px;
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
    font-weight: bold;
    font-size: 25px;
    margin: 30px 0;
}


/*============================

1個から作りたい方

============================*/


.one_img {
	margin: 0 0 40px 0;
}

.temp_btn {
    margin: 50px auto;
}

.temp_btn :hover {
	opacity:0.2;
	transition:0.7s;
}


/*============================

お支払い方法

============================*/

.payment_img {
    margin: 50px auto;
}

/*============================

入稿用テンプレート

============================*/

.case_main_ttl {
	margin:50px 0;
}

.ip-ttl {
    font-size: 22px;
    font-weight: bold;
}


.iph-diary {
    float: left;
    margin: 0 30px 0 0;
}

.han-ttl {
    font-size: 22px;
    font-weight: bold;
}


.table-tokusyo th {
    background-color: #03a9f4;
    width: 230px;
    color: #ffffff;
}

/*============================
商品一覧ページのboxCSS　PC
=============================*/



/*============================

ランキング

============================*/

.rank-containor {
	
}

.rank-1 {
    min-height: 100px;
    padding: 14px 10px 0px;
    width: 150px;
    border: solid 1px #dcdcdc;
    float: left;
    margin: 0px 7px 60px 0px;
}

.rank-1_txt {
    margin: 10px 0 0 0;
    text-align: center;
    font-size: 18px;
    line-height: 1.3;
}

.rank-1_txt02 {
	color: #df1513;
    font-family: HiraginoSans-W6, serif;
    font-size: 18px;
    margin-top: 14px;
    text-align: center;
}


.parts01 {
  position: relative;
}

.parts04 {
    margin: 0 auto;
}

.parts01 > div {
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background: #ffffff;
  background-clip: padding-box;
  border: 1px solid #dcdcdc;
  float: left;
  margin-bottom: 0 !important;
  margin-left: 0 !important;
  margin-right: -1px !important;
  margin-top: 0 !important;
  position: relative;
　　　　width:150px;
　　　　height:240px;
}
.parts01 > div:last-child {
  margin-right: 0 !important;
}

.parts02 {
  min-height: 193px;
  padding: 14px 8px 11px;
  width: 132px;
}
.parts02 div {
  position: relative;
}
.parts02 div > img {
  float: left;
  margin-bottom: 0;
  margin-left: 0;
}
.parts02 > p {
    margin: 130px 0 0 0;
    text-align: center;
}

.parts03 {
  margin-right: 13px;
  margin-top: 0;
}



.text {
  line-height: 15px;
  margin-top: 13px;
}

.text-2 {
  color: #df1513;
  font-family: HiraginoSans-W6, serif;
  font-size: 18px;
  margin-top: 14px;
}

.parts05 {
  height: 218px;
  width: 148px;
}
.parts05 div {
  background: url(../images/image.png) no-repeat;
  height: 31px;
  left: 50%;
  margin-left: -66px;
  position: absolute;
  top: 14px;
  width: 31px;
}
.parts05 div img {
  left: 50%;
  margin-left: -15.5px;
  position: absolute;
  top: 0;
}
.parts05 div p {
  color: #000000;
  font-family: HiraginoSans-W4, serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 600;
  left: 50%;
  margin-left: -7.5px;
  position: absolute;
  top: 0;
}
.parts05 > img {
  left: 50%;
  margin-left: -22px;
  position: absolute;
}
.parts05 > p {
  left: 50%;
  position: absolute;
  text-align: center;
}

.parts06 {
  top: 114px;
}

.parts07 {
  top: 26px;
}

.text-4 {
  color: #df1513;
  font-family: HiraginoSans-W6, serif;
  font-size: 18px;
  margin-left: -47px;
  top: 186px;
}

.text-5 {
  line-height: 15px;
  margin-left: -46px;
  top: 142px;
}

.parts08 {
  height: 218px;
  width: 148px;
}
.parts08 div {
  background: url(../images/image_4.png) no-repeat 0 bottom;
  height: 31px;
  left: 50%;
  margin-left: -65px;
  position: absolute;
  top: 14px;
  width: 30px;
}
.parts08 div img {
  left: 50%;
  margin-left: -15px;
  position: absolute;
  top: 1px;
}
.parts08 div p {
  color: #ffffff;
  font-family: HiraginoSans-W4, serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 600;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  top: 0;
}
.parts08 > img {
  left: 50%;
  margin-left: -22px;
  position: absolute;
}
.parts08 > p {
  left: 50%;
  position: absolute;
  text-align: center;
}

.parts09 {
  height: 218px;
  width: 148px;
}
.parts09 div {
  background: url(../images/image_5.png) no-repeat;
  height: 31px;
  left: 50%;
  margin-left: -66px;
  position: absolute;
  top: 8px;
  width: 32px;
}
.parts09 div img {
  left: 50%;
  margin-left: -16px;
  position: absolute;
  top: 0;
}
.parts09 div p {
  color: #000000;
  font-family: HiraginoSans-W4, serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 600;
  left: 50%;
  margin-left: -8px;
  position: absolute;
  top: 6px;
}
.parts09 > img {
  left: 50%;
  margin-left: -22px;
  position: absolute;
}
.parts09 > p {
  left: 50%;
  position: absolute;
  text-align: center;
}

.parts10 {
  height: 218px;
  width: 148px;
}
.parts10 div {
  background: url(../images/image_5.png) no-repeat;
  height: 31px;
  left: 50%;
  margin-left: -66px;
  position: absolute;
  top: 8px;
  width: 32px;
}
.parts10 div img {
  left: 50%;
  margin-left: -16px;
  position: absolute;
  top: 0;
}
.parts10 div p {
  color: #000000;
  font-family: HiraginoSans-W4, serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 600;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  top: 5px;
}
.parts10 > img {
  left: 50%;
  margin-left: -22px;
  position: absolute;
}
.parts10 > p {
  left: 50%;
  position: absolute;
  text-align: center;
}


/*============================

商品一覧

============================*/


product-list-box {
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background: url(http://original-smaphocase.com/wp-content/uploads/2017/09/test-product.jpg) no-repeat -3px -3px;
    background-clip: padding-box;
    border: 3px solid #d7d7d7;
    float: left;
    height: 130px;
    margin: 0 30px 0 0;
    padding: 228px 16px 16px;
    position: relative;
    width: 186px;
}

.product-list-box-name {
    color: #ffffff;
    font-family: HiraginoSans-W6, serif;
    font-size: 16px;
    text-align: center;
}


.product-list-box-margintop {
    margin: 28px 0 0;
    text-align: center;
}


.product-list-box-price {
    color: #ee4141;
    font-family: HiraginoSans-W6, serif;
    font-size: 18px;
}


.product-list-box-zentai {
    margin: 21px 0 0;
    position: relative;
    width: 750px;
}

 .product-list-box-p{
    line-height: 16px;
    margin: 11px auto 0;
    position: relative;
    right: 3px;
    width: 186px;
}
 .product-list-box-tax{
    position: relative;
    top: -2px;
}

.diary-case_ip7 {
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background: url(http://original-smaphocase.com/wp-content/uploads/2017/09/diary_case_ip7.png) no-repeat -3px -3px;
    background-clip: padding-box;
    border: 3px solid #dcdcdc;
    float: left;
    height: 380px;
    margin: 20px 30px 0 0;
    padding: 200px 0 0px;
    position: relative;
    width: 230px;
}

.product-txt01 {
    color: #ffffff;
    font-family: HiraginoSans-W6, serif;
    font-size: 16px;
    text-align: center;
    background: #03a9f4;
    padding: 10px;
}

.product-txt02 {
    margin: 0;
    text-align: center;
}

.product-txt03 {
    margin: 5px auto 0;
    position: relative;
    right: 0;
    width: 180px;
    line-height: 1.5;
    font-size: 12px;
}

.product-txt03_01 {
    color: #f04b4a;
    font-family: HiraginoSans-W6, serif;
    font-size: 22px;
}

.product-txt03_02 {
    position: relative;
    top: -4px;
    font-size: 12px;
}



/*============================

商品詳細

============================*/

#item-con {
    position: relative;
}

#item-con strong {
    color: #ef1237;
    font-family: 'ヒラギノ角ゴ ProN W6', 'HiraKakuProN-W6', sans-serif;
    font-size: 34px;
    font-weight: bold;
}

.item-pic {
	float: left;
    margin: 40px 0 0;
    width: 350px;
}

.item-pic_s {
	float: left;
    margin: 40px 0 0;
    width: 350px;
}

#item-des {
    border: solid 1px #dedede;
}

button.single_add_to_cart_button.button.alt {
	color: #fff;
    text-align: center;
    border-radius: 4px;
    font-size: 1em;
    background-color: #ee4141;
    width: 195px;
}


a.single_desigin_support_button {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #FFF;
    background: #02cc60;
    border-radius: 4px;
    font-weight: bold;
    font-size: 1em;
    width: 195px;
    text-align: center;
}

.single_footer_buttons {
  clear: both;
}

.single_footer_buttons > * {
  float: left;
  display: inline-block;
  margin: 10px 5px 0px 5px;
  padding: 15px;
}

.single-product div.product p.price {
    margin: 0px;
    font-size: 1em;
}
.single-product div.product p.down_price {
    margin: 0px;
    font-size: 1em;
    margin: 5px 0px 5px 0px
}
div.product p.down_price span.label {
    background-color: #ee4141;
    border-color: #ee4141;
    color: #ffffff;
    border-radius: 3px;
    border-width: 1px;
    padding: 8px 5px 8px 5px;
    vertical-align: text-bottom;
    margin-right: 10px;
}
.single-product div.product p.down_price span.amount {
  font-size: 2.3em;
  color: #ee4141;
}

/*============================

オリジナル手帳型スマホケース

============================*/

#diary-case {
	margin-bottom:120px;
}

.ip-diary-ttl {
    font-size: 20px;
    font-weight: bold;
    padding: 15px;
}

.ip-diary-ttl02 {
    color: #e53935;
    font-size: 24px;
}

.ip-diary-img {
	float: left;
    padding: 0 20px 0 0;
}

.ip-diary-txt-con {
    padding-bottom: 20px;
}

.contact_btn{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #ff1a1a;
    color: #FFF;
    border-bottom: solid 4px #b92323;
    border-radius: 3px;
}
.contact_btn:hover {
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    border-bottom: none;
}




.template_btn{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #21c94f;
    color: #FFF;
    border-bottom: solid 4px #168d36;
    border-radius: 3px;
}
.template_btn:hover {
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    border-bottom: none;
}

.android-diary {
    padding: 30px 0 100px 0;
}

.merit-txt-con {
	width:230px;
}

.merit01-ttl {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    margin: 20px 0;
	color:#ff1a1a;
}



/*============================

クリアケース

============================*/


.ip-diary-ttl_003 {
	font-size:24px;
	color:#ff1a1a;
}


/*============================

デザイン相談しながらご注文

============================*/

.order_flow_bg {
	background:url(https://original-smaphocase.com/wp-content/uploads/2017/09/order-flow_bg.png);
	background-repeat:no-repeat;
	height:1294px;
}

.of_ttl {
    text-align: center;
    padding: 30px 0;
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
}

.step01 {
    background: url(https://original-smaphocase.com/wp-content/uploads/2017/09/order_flow01.png);
    background-repeat: no-repeat;
    height: 160px;
    margin: 13px auto;
    width: 750px;
    position: relative;
}

.step02 {
    background: url(https://original-smaphocase.com/wp-content/uploads/2017/09/order_flow02.png);
    background-repeat: no-repeat;
    height: 160px;
    margin: 13px auto;
    width: 750px;
    position: relative;
}

.step03 {
    background: url(https://original-smaphocase.com/wp-content/uploads/2017/09/order_flow03.png);
    background-repeat: no-repeat;
    height: 160px;
    margin: 13px auto;
    width: 750px;
    position: relative;
}

.step04 {
    background: url(https://original-smaphocase.com/wp-content/uploads/2017/09/order_flow04.png);
    background-repeat: no-repeat;
    height: 160px;
    margin: 13px auto;
    width: 750px;
    position: relative;
}

.step05 {
    background: url(https://original-smaphocase.com/wp-content/uploads/2017/09/order_flow05.png);
    background-repeat: no-repeat;
    height: 160px;
    margin: 13px auto;
    width: 750px;
    position: relative;
}

.step06 {
    background: url(https://original-smaphocase.com/wp-content/uploads/2017/09/order_flow06.png);
    background-repeat: no-repeat;
    height: 160px;
    margin: 13px auto;
    width: 750px;
    position: relative;
}

.txt-con {
    position: absolute;
    top: 20px;
    left: 100px;
    width: 420px;
}

.step_ttl {
    font-size: 26px;
    font-weight: bold;
    color: #0071c1;
    padding-bottom: 5px;
}

.step-txt {
    position: absolute;
    top: 60px;
    left: -80px;
}

/*====================

レスポン

====================*/



@media screen and (min-width:0px) { 
    /*　画面サイズが480pxからはここを読み込む　*/

.ip-diary-img_pc {
	display:none;
	float: left;
    pazding: 0 20px 0 0;
}

.ip-diary-img_sp {
	display:block;
	float: left;
}

h4 {
    background: #f0f0f0;
    color: #222222;
    border-left: 5px solid #03a9f4;
    padding: 25px 25px;
    font-size: 24px;
    line-height: 1.2;
}

#diary-case {
	display:none;
}

#diary-case-sp {
	display:block;
}

#diary-case-sp .ip-diary-img {
	padding: 20px;
}

#order-f-PC {
	display:none;
}

#order-f-SP {
	display:block;
    width: 480px;
}

.order_flow_bg-sp {
	background: url(/wp-content/uploads/2017/10/order-flow-bg-sp.png);
    width: 600px;
    height: 1950px;
    background-repeat: no-repeat;
}

.step01-sp {
	background: url(/wp-content/uploads/2017/10/order-flow-s1-sp.png);
    background-repeat: no-repeat;
    height: 250px;
    margin: 13px auto;
    width: 560px;
    position: relative;
}

.step02-sp {
	background: url(/wp-content/uploads/2017/10/order-flow-s2-sp.png);
    background-repeat: no-repeat;
    height: 250px;
    margin: 13px auto;
    width: 560px;
    position: relative;
}

.step03-sp {
	background: url(/wp-content/uploads/2017/10/order-flow-s3-sp.png);
    background-repeat: no-repeat;
    height: 250px;
    margin: 13px auto;
    width: 560px;
    position: relative;
}

.step04-sp {
	background: url(/wp-content/uploads/2017/10/order-flow-s4-sp.png);
    background-repeat: no-repeat;
    height: 250px;
    margin: 13px auto;
    width: 560px;
    position: relative;
}

.step05-sp {
	background: url(/wp-content/uploads/2017/10/order-flow-s5-sp.png);
    background-repeat: no-repeat;
    height: 250px;
    margin: 13px auto;
    width: 560px;
    position: relative;
}

.txt-con-sp {
    position: absolute;
    top: 20px;
    left: 100px;
    width: 420px;
}

.step_ttl-sp {
    color: #037cc8;
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    top: 15px;
    left: 15px;
}

.step-txt-sp {
    font-size: 22px;
    line-height: 1.4;
    position: absolute;
    top: 90px;
    left: -80px;
}





}


@media screen and (min-width:1000px) { 
    /*　画面サイズが1000pxからはここを読み込む　*/

.ip-diary-img_pc {
	display:block;
	float: left;
    pazding: 0 20px 0 0;
}

.ip-diary-img_sp {
	display:none;
	float: left;
    padding: 0 20px 0 0;
}

#eye-catch-sp {
	display:none;
}

#order-f-SP {
	display:none;
}

#order-f-PC {
	display:block;
}


}


/***** コンタクトフォーム *****/
.table-contactform7{
  overflow: hidden;
table-layout: fixed;
}
 
.required-contactform7{
  padding: 5px;
  background: #DE8686;
  color: #fff;
  border-radius: 3px;
  margin-right: 3px;
}
 
.unrequired-contactform7{
  padding: 5px;
  background: #BDBDBD;
  color: #fff;
  border-radius: 3px;
  margin-right: 3px;
}
 
.table-contactform7 th{
  font-weight:bold;
}
 
.table-contactform7 input,
.table-contactform7 textarea{
  max-width: 90% !important;
  margin: 5px 10px 10px 5px;
}
 
.address-100 input{
  max-width: 90% !important;
  margin: 5px 10px 10px 5px;
}
 
.message-100 textarea{
  width: 100%;
  margin: 5px 10px 10px 5px;
}


h1.product_title.entry-title {
    color: #333;
}

.make {
	font-size: 22px;
    font-weight: bold;
    color: #289dda;
	margin-top: 20px;
}

.step00 {
	margin-bottom:20px;
}

.step-ttl {
    font-size: 26px;
    padding: 30px 0 0 0;
	color:#03a9f4;
}
