/*
Theme Name:     child0828
Description:    Storefrontの子テーマです。20170828
Author:         kobayashikazuya
Template:       storefront

(optional values you can add: Theme URI, Author URI, Version, License, License URI, Tags, Text Domain)
*/

@import url("common.css");
@import url("layouts.css");
@import url("pages.css");

/*
a:link { color: #0000ff; }
a:visited { color: #000080; }
a:hover { color: #ff0000; }
a:active { color: #ff8000; }
*/

button alt {
	background-color: #ff0000;
    border-color: #333333;
    color: #ffffff;
}

#bnr-list ul li {
  display: block;
  float: left;
  height: 100px;
  list-style-type: none;
  text-align: center;
  margin:4px;
}


.2c_btn {
	background-color: #67C5FF;
    width: 50%;
    height: 60px;
    text-align: center;
    padding: 10px;
    line-height: 1.2;
    border-radius: 10px;
}

.2c_btn a {
	color:#ffffff;
}



.howto_cam {
    padding: 20px;
    margin: 40px 30px 70px;
    color: #565656;
    background: #ffeaea;
    box-shadow: 0px 0px 0px 10px #ffeaea;
    border: dashed 2px #ffc3c3;
    border-radius: 3px;
}


.taisyousya {
    padding: 20px;
    margin: 40px 30px 70px;
    color: #565656;
    background: #ffeaea;
    box-shadow: 0px 0px 0px 10px #ffeaea;
    border: dashed 2px #ffc3c3;
    border-radius: 3px;
}


/*============================

FAQ

============================*/


.q-txt {
	font-size: 20px;
    font-weight: bold;
    color: #03a9f4;
}

.q_icon {
	float:left;
    padding-right: 10px;
}

.a-txt {
	font-size: 18px;
    color: #222222;
}

.a_icon {
	float:left;
    padding-right: 10px;
}

#border01 {
	border: 1px solid #f0f0f0;
	margin:50px 0;
}

#submit_btn {
    border: 1px solid #15aeec;
    background-color: #49c0f0;
    background-image: -webkit-linear-gradient(top, #49c0f0, #2cafe3);
    border-radius: 10px;
    color: #fff;
    -webkit-transition: none;
    width: 300px;
    font-size: 26px;
}



.contact_btn_B {
position: relative;
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #FFF;
    background: #fd9535;
    border-bottom: solid 2px #d27d00;
    border-radius: 6px;
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
    font-weight: bold;
    font-size: 15px;
    margin: 20px 0 0 0;
    width: 200px;
    text-align: center;
    line-height: 1.2;
}

.contact_btn_C {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #FFF;
    background: #4DB6AC;
    border-bottom: solid 2px #00897B;
    border-radius: 6px;
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
    font-weight: bold;
    font-size: 15px;
    margin: 20px 0 0 0;
    width: 200px;
    text-align: center;
    line-height: 1.2;
    padding: 20px;
    margin-left: 10px;
}

.contact_btn_D {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #FFF;
    background: #FF0000;
    border-radius: 6px;
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
    font-weight: bold;
    font-size: 15px;
    margin: 20px 0 0 0;
    width: 100%;
    text-align: center;
    line-height: 1.2;
    padding: 20px;
    margin-left: 10px;
}


/*============================

1個から作りたい方

============================*/


.one_img {
	margin: 0 0 40px 0;
}

.temp_btn {
    margin: 50px auto;
}

.temp_btn :hover {
	opacity:0.2;
	transition:0.7s;
}


/*============================

お支払い方法

============================*/

.payment_img {
    margin: 50px auto;
}

/*============================

入稿用テンプレート

============================*/

.case_main_ttl {
	margin:50px 0;
}

.ip-ttl {
    font-size: 22px;
    font-weight: bold;
}


.iph-diary {
    float: left;
    margin: 0 30px 0 0;
}

.han-ttl {
    font-size: 22px;
    font-weight: bold;
}


.table-tokusyo th {
    background-color: #03a9f4;
    width: 230px;
    color: #ffffff;
}

/*============================
商品一覧ページのboxCSS　PC
=============================*/



/*============================

ランキング

============================*/

.rank-containor {
	
}

.rank-1 {
    min-height: 100px;
    padding: 14px 10px 0px;
    width: 150px;
    border: solid 1px #dcdcdc;
    float: left;
    margin: 0px 7px 60px 0px;
}

.rank-1_txt {
    margin: 10px 0 0 0;
    text-align: center;
    font-size: 18px;
    line-height: 1.3;
}

.rank-1_txt02 {
	color: #df1513;
    font-family: HiraginoSans-W6, serif;
    font-size: 18px;
    margin-top: 14px;
    text-align: center;
}


.parts01 {
  position: relative;
}

.parts04 {
    margin: 0 auto;
}

.parts01 > div {
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background: #ffffff;
  background-clip: padding-box;
  border: 1px solid #dcdcdc;
  float: left;
  margin-bottom: 0 !important;
  margin-left: 0 !important;
  margin-right: -1px !important;
  margin-top: 0 !important;
  position: relative;
　　　　width:150px;
　　　　height:240px;
}
.parts01 > div:last-child {
  margin-right: 0 !important;
}

.parts02 {
  min-height: 193px;
  padding: 14px 8px 11px;
  width: 132px;
}
.parts02 div {
  position: relative;
}
.parts02 div > img {
  float: left;
  margin-bottom: 0;
  margin-left: 0;
}
.parts02 > p {
    margin: 130px 0 0 0;
    text-align: center;
}

.parts03 {
  margin-right: 13px;
  margin-top: 0;
}



.text {
  line-height: 15px;
  margin-top: 13px;
}

.text-2 {
  color: #df1513;
  font-family: HiraginoSans-W6, serif;
  font-size: 18px;
  margin-top: 14px;
}

.parts05 {
  height: 218px;
  width: 148px;
}
.parts05 div {
  background: url(../images/image.png) no-repeat;
  height: 31px;
  left: 50%;
  margin-left: -66px;
  position: absolute;
  top: 14px;
  width: 31px;
}
.parts05 div img {
  left: 50%;
  margin-left: -15.5px;
  position: absolute;
  top: 0;
}
.parts05 div p {
  color: #000000;
  font-family: HiraginoSans-W4, serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 600;
  left: 50%;
  margin-left: -7.5px;
  position: absolute;
  top: 0;
}
.parts05 > img {
  left: 50%;
  margin-left: -22px;
  position: absolute;
}
.parts05 > p {
  left: 50%;
  position: absolute;
  text-align: center;
}

.parts06 {
  top: 114px;
}

.parts07 {
  top: 26px;
}

.text-4 {
  color: #df1513;
  font-family: HiraginoSans-W6, serif;
  font-size: 18px;
  margin-left: -47px;
  top: 186px;
}

.text-5 {
  line-height: 15px;
  margin-left: -46px;
  top: 142px;
}

.parts08 {
  height: 218px;
  width: 148px;
}
.parts08 div {
  background: url(../images/image_4.png) no-repeat 0 bottom;
  height: 31px;
  left: 50%;
  margin-left: -65px;
  position: absolute;
  top: 14px;
  width: 30px;
}
.parts08 div img {
  left: 50%;
  margin-left: -15px;
  position: absolute;
  top: 1px;
}
.parts08 div p {
  color: #ffffff;
  font-family: HiraginoSans-W4, serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 600;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  top: 0;
}
.parts08 > img {
  left: 50%;
  margin-left: -22px;
  position: absolute;
}
.parts08 > p {
  left: 50%;
  position: absolute;
  text-align: center;
}

.parts09 {
  height: 218px;
  width: 148px;
}
.parts09 div {
  background: url(../images/image_5.png) no-repeat;
  height: 31px;
  left: 50%;
  margin-left: -66px;
  position: absolute;
  top: 8px;
  width: 32px;
}
.parts09 div img {
  left: 50%;
  margin-left: -16px;
  position: absolute;
  top: 0;
}
.parts09 div p {
  color: #000000;
  font-family: HiraginoSans-W4, serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 600;
  left: 50%;
  margin-left: -8px;
  position: absolute;
  top: 6px;
}
.parts09 > img {
  left: 50%;
  margin-left: -22px;
  position: absolute;
}
.parts09 > p {
  left: 50%;
  position: absolute;
  text-align: center;
}

.parts10 {
  height: 218px;
  width: 148px;
}
.parts10 div {
  background: url(../images/image_5.png) no-repeat;
  height: 31px;
  left: 50%;
  margin-left: -66px;
  position: absolute;
  top: 8px;
  width: 32px;
}
.parts10 div img {
  left: 50%;
  margin-left: -16px;
  position: absolute;
  top: 0;
}
.parts10 div p {
  color: #000000;
  font-family: HiraginoSans-W4, serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 600;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  top: 5px;
}
.parts10 > img {
  left: 50%;
  margin-left: -22px;
  position: absolute;
}
.parts10 > p {
  left: 50%;
  position: absolute;
  text-align: center;
}


/*============================

商品一覧

============================*/


product-list-box {
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background: url(http://original-smaphocase.com/wp-content/uploads/2017/09/test-product.jpg) no-repeat -3px -3px;
    background-clip: padding-box;
    border: 3px solid #d7d7d7;
    float: left;
    height: 130px;
    margin: 0 30px 0 0;
    padding: 228px 16px 16px;
    position: relative;
    width: 186px;
}

.product-list-box-name {
    color: #ffffff;
    font-family: HiraginoSans-W6, serif;
    font-size: 16px;
    text-align: center;
}


.product-list-box-margintop {
    margin: 28px 0 0;
    text-align: center;
}


.product-list-box-price {
    color: #ee4141;
    font-family: HiraginoSans-W6, serif;
    font-size: 18px;
}


.product-list-box-zentai {
    margin: 21px 0 0;
    position: relative;
    width: 750px;
}

 .product-list-box-p{
    line-height: 16px;
    margin: 11px auto 0;
    position: relative;
    right: 3px;
    width: 186px;
}
 .product-list-box-tax{
    position: relative;
    top: -2px;
}

.diary-case_ip7 {
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background: url(http://original-smaphocase.com/wp-content/uploads/2017/09/diary_case_ip7.png) no-repeat -3px -3px;
    background-clip: padding-box;
    border: 3px solid #dcdcdc;
    float: left;
    height: 380px;
    margin: 20px 30px 0 0;
    padding: 200px 0 0px;
    position: relative;
    width: 230px;
}

.product-txt01 {
    color: #ffffff;
    font-family: HiraginoSans-W6, serif;
    font-size: 16px;
    text-align: center;
    background: #03a9f4;
    padding: 10px;
}

.product-txt02 {
    margin: 0;
    text-align: center;
}

.product-txt03 {
    margin: 5px auto 0;
    position: relative;
    right: 0;
    width: 180px;
    line-height: 1.5;
    font-size: 12px;
}

.product-txt03_01 {
    color: #f04b4a;
    font-family: HiraginoSans-W6, serif;
    font-size: 22px;
}

.product-txt03_02 {
    position: relative;
    top: -4px;
    font-size: 12px;
}

@media screen and (min-width: 375px) {
	ul.products li.product{
		width: 29.4117647059%;
		float: left;
		min-width: 145px;
		margin-right: 5px
	}
}

@media screen and (min-width: 0px) {
	ul.products li.product .woocommerce-loop-product__title {
		font-size: 0.9em;
		height: 5em;
	}
}

@media screen and (min-width: 620px) {
	ul.products li.product .woocommerce-loop-product__title {
		font-size: 1rem;
	}
}

ul.products li.product .price-outer{
}

ul.products li.product .price-outer .price{
	margin: 0px;
	font-size: 0.9em;
}

ul.products li.product .price-outer .down_price{
	margin: 5px 0px 5px 0px
}

ul.products li.product .price-outer .down_price .label{
	background-color: #ee4141;
	border-color: #ee4141;
	color: #ffffff;
	border-radius: 0px;
	border-width: 1px;
	padding: 8px 5px 8px 5px;
	vertical-align: text-bottom;
	margin-right: 0px;
	font-size: 0.75em;
}

@media screen and (min-width: 420px) {
	ul.products li.product .price-outer .down_price .label{
		font-size: 0.9em;
	}
}

ul.products li.product .price-outer .down_price .amount {
	font-size: 1.1em;
}

@media screen and (min-width: 640px) {
	ul.products li.product .price-outer .down_price .amount {
		font-size: 1.3em;
	}
}




/*============================

商品詳細

============================*/

#item-con {
    position: relative;
}

#item-con strong {
    color: #ef1237;
    font-family: 'ヒラギノ角ゴ ProN W6', 'HiraKakuProN-W6', sans-serif;
    font-size: 34px;
    font-weight: bold;
}

.item-pic {
	float: left;
    margin: 40px 0 0;
    width: 350px;
}

.item-pic_s {
	float: left;
    margin: 40px 0 0;
    width: 350px;
}

#item-des {
    border: solid 1px #dedede;
}


/*============================

オリジナル手帳型スマホケース

============================*/

#diary-case {
	margin-bottom:120px;
}

.ip-diary-ttl {
    font-size: 20px;
    font-weight: bold;
    padding: 15px;
}

.ip-diary-ttl02 {
    color: #e53935;
    font-size: 24px;
}

.ip-diary-img {
	float: left;
    padding: 0 20px 0 0;
}

.ip-diary-txt-con {
    padding-bottom: 20px;
}

.contact_btn{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #ff1a1a;
    color: #FFF;
    border-bottom: solid 4px #b92323;
    border-radius: 3px;
}
.contact_btn:hover {
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    border-bottom: none;
}




.template_btn{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #21c94f;
    color: #FFF;
    border-bottom: solid 4px #168d36;
    border-radius: 3px;
}
.template_btn:hover {
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    border-bottom: none;
}

.android-diary {
    padding: 30px 0 100px 0;
}

.merit-txt-con {
	width:230px;
}

.merit01-ttl {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    margin: 20px 0;
	color:#ff1a1a;
}



/*============================

クリアケース

============================*/


.ip-diary-ttl_003 {
	font-size:24px;
	color:#ff1a1a;
}


/*============================

デザイン相談しながらご注文

============================*/

.order_flow_bg {
	background:url(https://original-smaphocase.com/wp-content/uploads/2017/09/order-flow_bg.png);
	background-repeat:no-repeat;
	height:1294px;
}

.of_ttl {
    text-align: center;
    padding: 30px 0;
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
}

.step01 {
    background: url(https://original-smaphocase.com/wp-content/uploads/2017/09/order_flow01.png);
    background-repeat: no-repeat;
    height: 160px;
    margin: 13px auto;
    width: 750px;
    position: relative;
}

.step02 {
    background: url(https://original-smaphocase.com/wp-content/uploads/2017/09/order_flow02.png);
    background-repeat: no-repeat;
    height: 160px;
    margin: 13px auto;
    width: 750px;
    position: relative;
}

.step03 {
    background: url(https://original-smaphocase.com/wp-content/uploads/2017/09/order_flow03.png);
    background-repeat: no-repeat;
    height: 160px;
    margin: 13px auto;
    width: 750px;
    position: relative;
}

.step04 {
    background: url(https://original-smaphocase.com/wp-content/uploads/2017/09/order_flow04.png);
    background-repeat: no-repeat;
    height: 160px;
    margin: 13px auto;
    width: 750px;
    position: relative;
}

.step05 {
    background: url(https://original-smaphocase.com/wp-content/uploads/2017/09/order_flow05.png);
    background-repeat: no-repeat;
    height: 160px;
    margin: 13px auto;
    width: 750px;
    position: relative;
}

.step06 {
    background: url(https://original-smaphocase.com/wp-content/uploads/2017/09/order_flow06.png);
    background-repeat: no-repeat;
    height: 160px;
    margin: 13px auto;
    width: 750px;
    position: relative;
}

.txt-con {
    position: absolute;
    top: 20px;
    left: 100px;
    width: 420px;
}

.step_ttl {
    font-size: 26px;
    font-weight: bold;
    color: #0071c1;
    padding-bottom: 5px;
}

.step-txt {
    position: absolute;
    top: 60px;
    left: -80px;
}

/*====================

レスポン

====================*/



@media screen and (min-width:0px) { 
    /*　画面サイズが480pxからはここを読み込む　*/

.ip-diary-img_pc {
	display:none;
	float: left;
    pazding: 0 20px 0 0;
}

.ip-diary-img_sp {
	display:block;
	float: left;
}

h4 {
    background: #f0f0f0;
    color: #222222;
    border-left: 5px solid #03a9f4;
    padding: 25px 25px;
    font-size: 24px;
    line-height: 1.2;
}

#diary-case {
	display:none;
}

#diary-case-sp {
	display:block;
}

#diary-case-sp .ip-diary-img {
	padding: 20px;
}

#order-f-PC {
	display:none;
}

#order-f-SP {
	display:block;
    width: 480px;
}

.order_flow_bg-sp {
	background: url(/wp-content/uploads/2017/10/order-flow-bg-sp.png);
    width: 600px;
    height: 1950px;
    background-repeat: no-repeat;
}

.step01-sp {
	background: url(/wp-content/uploads/2017/10/order-flow-s1-sp.png);
    background-repeat: no-repeat;
    height: 250px;
    margin: 13px auto;
    width: 560px;
    position: relative;
}

.step02-sp {
	background: url(/wp-content/uploads/2017/10/order-flow-s2-sp.png);
    background-repeat: no-repeat;
    height: 250px;
    margin: 13px auto;
    width: 560px;
    position: relative;
}

.step03-sp {
	background: url(/wp-content/uploads/2017/10/order-flow-s3-sp.png);
    background-repeat: no-repeat;
    height: 250px;
    margin: 13px auto;
    width: 560px;
    position: relative;
}

.step04-sp {
	background: url(/wp-content/uploads/2017/10/order-flow-s4-sp.png);
    background-repeat: no-repeat;
    height: 250px;
    margin: 13px auto;
    width: 560px;
    position: relative;
}

.step05-sp {
	background: url(/wp-content/uploads/2017/10/order-flow-s5-sp.png);
    background-repeat: no-repeat;
    height: 250px;
    margin: 13px auto;
    width: 560px;
    position: relative;
}

.txt-con-sp {
    position: absolute;
    top: 20px;
    left: 100px;
    width: 420px;
}

.step_ttl-sp {
    color: #037cc8;
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    top: 15px;
    left: 15px;
}

.step-txt-sp {
    font-size: 22px;
    line-height: 1.4;
    position: absolute;
    top: 90px;
    left: -80px;
}





}


@media screen and (min-width:1000px) { 
    /*　画面サイズが1000pxからはここを読み込む　*/

.ip-diary-img_pc {
	display:block;
	float: left;
    pazding: 0 20px 0 0;
}

.ip-diary-img_sp {
	display:none;
	float: left;
    padding: 0 20px 0 0;
}

#eye-catch-sp {
	display:none;
}

#order-f-SP {
	display:none;
}

#order-f-PC {
	display:block;
}


}



/***** コンタクトフォーム *****/
.table-contactform7{
  overflow: hidden;
table-layout: fixed;
}
 
.required-contactform7{
  padding: 5px;
  background: #DE8686;
  color: #fff;
  border-radius: 3px;
  margin-right: 3px;
}
 
.unrequired-contactform7{
  padding: 5px;
  background: #BDBDBD;
  color: #fff;
  border-radius: 3px;
  margin-right: 3px;
}
 
.table-contactform7 th{
  font-weight:bold;
}
 
.table-contactform7 input,
.table-contactform7 textarea{
  max-width: 90% !important;
  margin: 5px 10px 10px 5px;
}
 
.address-100 input{
  max-width: 90% !important;
  margin: 5px 10px 10px 5px;
}
 
.message-100 textarea{
  width: 100%;
  margin: 5px 10px 10px 5px;
}


h1.product_title.entry-title {
    color: #333;
    font-size: 1em;
    margin: 0px;
}

.make {
	font-size: 22px;
    font-weight: bold;
    color: #289dda;
	margin-top: 20px;
}

.step00 {
	margin-bottom:20px;
}

.step-ttl {
    font-size: 26px;
    padding: 30px 0 0 0;
	color:#03a9f4;
}


h1.woocommerce-products-header__title.page-title {
    color: #000;
}

.blocks-list {
    flex-wrap: wrap; 
    margin: 10px 0px 10px 10px;
}

.blocks-item {
    border: 1px solid #0072ef;
    border-radius: 4px;
    box-sizing: border-box;
    color: #0072ef;
    display: flex;
    flex: 1 0 340px;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 30px;
    max-width: 100%;
    text-align: center;
}

.blocks-item-title {
    margin-bottom: 0;
}

.blocks-item {
    margin: 0 10px 30px;
}


span.dondonwariprice {
    background: #03a9f5;
    box-shadow: 0px 0px 0px 5px #03a9f5;
    border: dashed 2px #fff;
    padding: 10px 10px;
    color: #fcfd37;
    font-weight: bold;
    font-size: 22px;
}

.box3 {
    padding: 15px 25px;
    color: #000;
    background: #FFECB3;
    font-size: 18px;
    font-weight: bold;
}

/*.soudan_btn{
    display: inline-block;
    padding: 12px 20px;
    text-decoration: none;
    background: #4db6ac;
    color: #FFF;
    font-size: 18px;
    border-radius: 8px;
    font-weight: bold;
}


.faq_btn{
    display: inline-block;
    padding: 12px 60px;
    text-decoration: none;
    background: #01b83f;
    color: #FFF;
    font-size: 18px;
    border-radius: 8px;
    font-weight: bold;
	margin-right:10px;
}*/

.kotei_bnr {
    position: absolute;
    top: 800px;
    left: 1200px;
}

#sidemenu {
    position: fixed;
    bottom: 30px;
    right: 20px;
    z-index: 1000;
}

#sidemenu a {
    text-decoration: none;
    color: #fff;
    padding: 35px;
    text-align: center;
    display: block;
    border-radius: 5px;
}

.sp #sidemenu {
	right: 0px;
	bottom: 0px;
	width: 100%;
}

.sp #sidemenu a{
	padding: 0px;
}
.sp #sidemenu img{
	max-height: 62px;
	margin: auto;
}


.scroll-back-to-top-wrapper.show {
	bottom: 70px;
	right: 5px;
}

.original-header-left-sp {
  margin-left: auto; margin-right: auto;
}

.sp-manzokudo {
    width: 300px;
}

.box_tape{
    position: relative;
    background: #F8BBD0;
    box-shadow: 0px 0px 0px 5px #F8BBD0;
    border: dashed 2px white;
    padding: 30px;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
	text-align: center;
}
.box_tape:after{
    position: absolute;
    content: '';
    right: -7px;
    top: -7px;
    border-width: 0 15px 15px 0;
    border-style: solid;
    border-color: #F48FB1 #fff;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
}
.box_tape p {
    margin: 0; 
    padding: 0;
}

.square_btn_blue{
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 30px;
    text-decoration: none;
    color: #03A9F4;
    background: #ECECEC;
    transition: 0.6s;
    font-size: 20px;
  }

.square_btn_blue:hover {
    background: #03A9F4;
    color: white;
}

.img_left {
	float: left;
    width: 200px;
    margin: 10px 20px 40px 0;
}

.img_right {
    float: right;
    width: 200px;
    margin: 10px 0 40px 20px
}

.jirei_ttl {
    position: relative;
    padding-left: 40px;
    line-height: 1.4;
    font-size: 30px;
    font-weight: bold;
    color: #222222;
    border-bottom: dashed 3px #03a9f4;
    margin: 30px 0px 10px 0;
    padding-bottom: 15px;
}

.jirei_ttl_sp {
    position: relative;
    padding-left: 0;
    line-height: 1.4;
    font-size: 20px;
    font-weight: bold;
    color: #222222;
    border-bottom: dashed 3px #03a9f4;
    margin: 30px 0px 10px 0;
    padding-bottom: 15px;
}

.jirei_txt_sp {
    font-size: 14px;
    margin-bottom: 20px;
}


.jirei_ttl:before{ font-family: FontAwesome;/*忘れずに*/
content: "\f075";/*アイコンのユニコード*/
position: absolute;/*絶対位置*/
font-size: 1em;/*サイズ*/
left: 0;/*アイコンの位置*/
top: 0;/*アイコンの位置*/
color: #5ab9ff; /*アイコン色*/
}

.jirei_txt {
    font-size: 18px;
    margin-bottom: 20px;
}

.star {
    color: #ff931d;
    font-size: 24px;
	margin-bottom: 10px;
}

.staff_txt {
	position: relative;
    color: black;
    background: #FFF3E0;
    line-height: 1.6;
    padding: 5px 20px;
    margin: 2em 0 0.5em;
    border-radius: 0 5px 5px 5px;
    font-size: 18px;
}


.staff_txt_sp {
	position: relative;
    color: black;
    background: #FFF3E0;
    line-height: 1.6;
    padding: 5px 20px;
    margin: 2em 0 0.5em;
    border-radius: 0 5px 5px 5px;
    font-size: 14px;
}

.staff_txt:after {    position: absolute;
    font-family: FontAwesome,'Quicksand','Avenir','Arial',sans-serif;
    content: '\ スタッフからのコメント';
    background: #FF9800;
    color: #fff;
    left: 0px;
    bottom: 100%;
    border-radius: 5px 5px 0 0;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
  }

.staff_txt_sp:after {    position: absolute;
    font-family: FontAwesome,'Quicksand','Avenir','Arial',sans-serif;
    content: '\ スタッフからのコメント';
    background: #FF9800;
    color: #fff;
    left: 0px;
    bottom: 100%;
    border-radius: 5px 5px 0 0;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
  }

.square_btn_dezasapo_pc {
display: inline-block;
    padding: 15px 30px;
    text-decoration: none;
    color: #ff0000;
    border: solid 3px #ff0000;
    border-radius: 5px;
    transition: 0.2s;
    font-size: 24px;
    width: 100%;
    text-align: center;
}

.square_btn_dezasapo_pc:hover {
    background: #ff0000;
    color: white;
	font-weight:bold;
}

.square_btn_dezasapo_sp {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    transition: 0.2s;
    font-size: 18px;
    background: #ff0000;
    font-weight: bold;
    width: 100%;
    padding: 20px;
    text-align: center;
}

.fl_tw2{/*ボタンの背景*/
      color: #FFF;
    border-radius: 5px;
    display: inline-block;
    height: 45px;
    width: 150px;
    text-align: center;
    font-size: 18px;
    line-height: 50px;
    vertical-align: middle;
    background: #1da1f3;
    overflow: hidden;
    text-decoration: none;
}

.fl_tw2 .fa-twitter {
    text-shadow: 2px 2px 0px #4287d6;
    font-size: 30px;
}

.fl_tw2 span {/*テキスト*/
  display:inline-block;
  transition: .5s}

.fl_tw2:hover span{/*ホバーで一周回転*/
  -webkit-transform: rotateX(360deg);
  -ms-transform: rotateX(360deg);
  transform: rotateX(360deg);
}

.fl_fb2 {/*ボタンの下地*/
      color: #FFF;
    border-radius: 5px;
    display: inline-block;
    height: 45px;
    width: 150px;
    text-align: center;
    font-size: 18px;
    line-height: 50px;
    vertical-align: middle;
    background: #4267B2;
    overflow: hidden;
    text-decoration: none;
}

.fl_fb2 .fa-facebook {
    text-shadow: 2px 2px 1px #224282;
    font-size: 30px;
}

.fl_fb2 span {/*テキスト*/
  display:inline-block;
  transition: .5s;
}

.fl_fb2:hover span{/*ホバーで一周回転*/
  -webkit-transform: rotateX(360deg);
  -ms-transform: rotateX(360deg);
  transform: rotateX(360deg);
}

li {
margin-bottom: 10px;
}

.box_setsumei{
    margin:2em 0;
    position: relative;
    padding: 30px;
    border: solid 2px #ffcb8a;
    border-radius: 3px 0 3px 0;
}
.box_setsumei:before,.box_setsumei:after
{
    content: '';
    position: absolute;
    width:10px;
    height: 10px;
    border: solid 2px #ffcb8a;
    border-radius: 50%;
}
.box_setsumei:after {
    top:-12px;
    left:-12px;
}
.box_setsumei:before {
    bottom:-12px;
    right:-12px;
}
.box_setsumei p {
    margin: 0; 
    padding: 0;
}

.info {
    font-size: 18px;
    text-align: center;
    color: red;
    border: solid 1px;
    padding: 18px;
    border-radius: 5px;
    margin: 0px 100px;
}

.user-wrap{
    /*background:url(../img/images-top/bg-log.gif);*/
}
.user-wrap .holder{
    position:relative;
    margin:0 auto;
    height:45px;
    max-width:1100px;
}
.user-wrap ul{
    /*position:absolute;*/
    /*top:0;*/
    /*left:0;*/
    background-color:rgb(32,174,229);
    overflow:hidden;
    -webkit-transition: linear 0.5s;
    -moz-transition: linear 0.5s;
    -ms-transition: linear 0.5s;
    -o-transition: linear 0.5s;
    transition: linear 0.5s;
    height:45px;
    overflow:hidden;
    border-radius: 5px;
}
.user-wrap ul:hover{height: auto;}
.user-wrap ul li{border-bottom:1px solid #474129;}
.user-wrap .user-name{
    display:block;
    padding:13px 46px 13px 16px;
    font-size:16px;
    line-height:18px;
    font-weight:normal;
    white-space:nowrap;
    color:#fff;
    position:relative;
    border-bottom:1px solid #2b99c3;;
    cursor:pointer;
}
.user-wrap .user-name:after{
    content:'';
    position:absolute;
    right:14px;
    top:10px;
    width:25px;
    height:25px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    background: rgb(238,238,238);
    background: -moz-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(205,205,205,1) 100%);
    background: -webkit-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(205,205,205,1) 100%);
    background: linear-gradient(to bottom, rgba(238,238,238,1) 0%,rgba(205,205,205,1) 100%);
}
.user-wrap .user-name:before{
    content:'';
    position:absolute;
    z-index:2;
    right:20px;
    top:19px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 9px solid #282828;
}
.user-wrap a{
    display:block;
    padding:3px 10px 3px 10px;
    font-size:13px;
    line-height:18px;
    font-weight:normal;
    white-space:nowrap;
    color:#fff;
    position:relative;
    border-bottom:0.5px solid #2b99c3;;
}
/*.user-wrap a:after{*/
    /*content:'';*/
    /*position:absolute;*/
    /*left:18px;*/
    /*top:50%;*/
    /*width:10px;*/
    /*height:18px;*/
    /*margin-top:-9px;*/
    /*background:#fff;*/
    /*-moz-border-radius:18px;*/
    /*-webkit-border-radius:18px;*/
    /*border-radius:18px;*/
/*}*/
/*.user-wrap a:before{*/
    /*content:'';*/
    /*position:absolute;*/
    /*z-index:2;*/
    /*left:24px;*/
    /*top:50%;*/
    /*margin-top:-5px;*/
    /*width: 0;*/
    /*height: 0;*/
    /*border-top: 5px solid transparent;*/
    /*border-left: 8px solid red;*/
    /*border-bottom: 5px solid transparent;*/
/*}*/
.user-wrap a span{
    display:inline-block;
    position:relative;
    vertical-align:top;
}
.user-wrap a span:before{
    display:block;
    position:absolute;
    content:"";
    height:2px;
    width:0;
    background:#fff;
    transition:width 0.3s ease-in-out;
    left:0;
    bottom:0;
}
.user-wrap a:hover span:before{width:100%;}

.user-wrap .holder {
    z-index: 999999999;
}

/*css smart phone*/

.user-wrap-smart{
    position: absolute;
    top: 3px;
    right: 2px;
    width: 82px;
    z-index: 999999999;
    /*background:url(../img/images-top/bg-log.gif);*/
}
/*.user-wrap-smart .holder{*/
    /*position:relative;*/
    /*margin:0 auto;*/
    /*height:4px;*/
    /*max-width:1100px;*/
/*}*/
.user-wrap-smart ul{
    /*position:absolute;*/
    /*top:0;*/
    /*left:0;*/
    background-color:rgb(32,174,229);
    overflow:hidden;
    -webkit-transition: linear 0.5s;
    -moz-transition: linear 0.5s;
    -ms-transition: linear 0.5s;
    -o-transition: linear 0.5s;
    transition: linear 0.5s;
    height:45px;
    overflow:hidden;
    border-radius: 5px;
    /*margin-top: -27px;*/
}
.user-wrap-smart ul:hover{height: auto;}
/*.user-wrap-smart ul li{border-bottom:1px solid #474129;}*/
.user-wrap-smart .user-name{
    display:block;
    padding:13px 46px 13px 16px;
    font-size:16px;
    line-height:18px;
    font-weight:normal;
    white-space:nowrap;
    color:#fff;
    position:relative;
    border-bottom:1px solid #2b99c3;;
    cursor:pointer;
}
/*.user-wrap-smart .user-name:after{*/
    /*content:'';*/
    /*position:absolute;*/
    /*right:14px;*/
    /*top:10px;*/
    /*width:10px;*/
    /*height:10px;*/
    /*-moz-border-radius:3px;*/
    /*-webkit-border-radius:3px;*/
    /*border-radius:3px;*/
    /*background: rgb(238,238,238);*/
    /*background: -moz-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(205,205,205,1) 100%);*/
    /*background: -webkit-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(205,205,205,1) 100%);*/
    /*background: linear-gradient(to bottom, rgba(238,238,238,1) 0%,rgba(205,205,205,1) 100%);*/
/*}*/
.user-wrap-smart .user-name:before{
    content:'';
    position:absolute;
    z-index:2;
    right:20px;
    top:19px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 9px solid #282828;
}
.user-wrap-smart a{
    display:block;
    padding:3px 3px 3px 3px;
    font-size:3px;
    /*line-height:18px;*/
    font-weight:normal;
    white-space:nowrap;
    color:#fff;
    position:relative;
    border-bottom:0.5px solid #2b99c3;;
    padding-top: 0 !important;
    /*width: 100% !important;*/
}

.user-wrap-smart a span{
    font-size: 9px !important;
    font-weight: 900 !important;
    display:inline-block;
    position:relative;
    vertical-align:top;
}
.user-wrap-smart a span:before{
    display:block;
    position:absolute;
    content:"";
    height:2px;
    width:0;
    background:#fff;
    transition:width 0.3s ease-in-out;
    left:0;
    bottom:0;
}
.user-wrap-smart a:hover span:before{width:100%;}

.user-wrap-smart .holder {
    z-index: 999999999;
}



#eye-catch {
	display: none;
}

.main_visual {
	display: none;
}

body.home .main_visual {
	display: block;
}

ul.point_list {
	margin: 0;
	list-style: none;
	text-align: center;
}

ul.point_list li {
    display: inline-block;
    width: 46%;
    background-color: #fff;
    border: 3px solid #03a9f4;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    background: #f3fbff;
    color: #03a9f4;
    font-weight: bold;
    font-size: 18px;
    margin: 1% 0.5%;
}

@media screen and (max-width: 640px) {

.original-header {
	display: block !important;
}

.site-header .custom-logo-link, .site-header .site-branding, .site-header .site-logo-anchor, .site-header .site-logo-link {
	float: none !important;
}

.site-header .custom-logo-link img, .site-header .site-logo-anchor img, .site-header .site-logo-link img {
	margin: 0 auto;
}

.original-header-left {
	text-align: center;
}

.original-header-left > img {
	display: inline-block;
}

.original-header-right {
	text-align: center;
}

.original-header-right img {
	display: inline-block;
}

.original-header-right .faq_btn,
.original-header-right .soudan_btn {
	display: block;
}

.original-gnavi {
	display: none;
}

.home.blog .site-header, .home.page:not(.page-template-template-homepage) .site-header, .home.post-type-archive-product .site-header {
margin-bottom: 3%;
}

}