﻿@charset "UTF-8";
 
@import url(/css/sanitize.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
 
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

body {
   margin: 0px;
   padding: 0px;
   background: #efefef;
   -webkit-text-size-adjust: 100%;
}

#pc {
	text-align:center;
	position:relative;
	width:1200px;
	margin:0 auto;
	}
	
.logo {
    position: absolute;
    top: 15px;
    left: 190px;
}

#sidemenu {
    position: fixed;
    bottom: 20px;
    right: 300px;
    z-index: 1000;
}

.fv-btn {
	position: absolute;
    top: 560px;
    left: 300px;
}

.fv-btn :hover {
    transition:0.5s;
    opacity:0.6;
}

.btn {
	position: absolute;
    top: 2050px;
    left: 300px;
}

.btn :hover {
    transition:0.5s;
    opacity:0.6;
}

#form-pc {
	background: #fff;
    width: 1200px;
    margin: 0 auto;

}

#form-sp {
	background: #fff;
    margin: 0 auto;
}
	
#form-ttl {
    padding-top:50px;
}

.copyright {
    background:#3fb0d7;
    text-align:center;
    padding:20px 0;
    color:#ffffff;    
}

#sp  {
    display:none;
}

.item-price {
    position: absolute;
    top: 3680px;
    left: 420px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

.bnr01 {
    position: fixed;
    bottom: 0px;
    right: 0px;
}


/* スマホだけに適用するCSS */
@media screen and ( max-width:479px )
{

#sp {
    display:block;
    width: 640px;
}

.logo_sp {
    position: absolute;
    top: 20px;
    left: 40px;
}

#bnr01_sp {
    position: fixed;
    bottom: -5px;
}

.fv-btn-sp {
    position: absolute;
    top: 630px;
    left: 20px;
}

.btn-sp {
    position: absolute;
    top: 3015px;
    left: 20px;
}

#pc {
    display:none;
}

#form-pc {
    display:none;
}

.item-price-sp {
    position: absolute;
    top: 5360px;
    left: 90px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    line-height: 1.3;
}



div#form-ttl-sp {
    width: 640px;
}


}